@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --suit-bg-color: #b30000;
  --suit-bg-color: #187318;
  --suit-bg-color: #0d32e1;

  --field-bg-color: #387d38;
}

body {
  margin: 0;
}

.field {
  background: var(--field-bg-color);
  width: 100vw;
  height: 100vh;
}

.holder {
  width: 110px;
  height: 170px;

  border-radius: 5px;

  box-sizing: border-box;

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
  background-color: #00000012;
}

.card {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 110px;
  height: 170px;

  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  user-select: none;
  background-color: white;

  font-family: "Noto Sans JP", sans-serif;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card.card_closed {
  border: 1px solid black;
  box-shadow: inset 0px 0px 0px 1px #dcdcdc, inset 0px 0px 0px 4px white;
  background-color: var(--suit-bg-color);
  background-image: url(card_suit_pattern_white.png);
  background-repeat: repeat;
}

.card.card_closed > * {
  display: none;
}

.card > * {
  pointer-events: none;
}

.card__corner-top-left,
.card__corner-bottom-right {
  padding: 8px 4px;

  text-orientation: upright;
  writing-mode: vertical-lr;
}

.card__corner-top-left {
  align-self: flex-start;
}

.card__center {
  font-size: 40px;
}

.card__corner-bottom-right {
  align-self: flex-end;
  transform: rotate(180deg);
}

.deck_close_suit {
  z-index: 100;

  border: 1px solid black;
  box-shadow: inset 0px 0px 0px 1px #dcdcdc, inset 0px 0px 0px 4px white;

  background-color: var(--suit-bg-color);
  background-image: url(card_suit_pattern_white.png);
  background-repeat: repeat;
}

.decks {
  position: absolute;
  left: 10px;
  top: 10px;

  display: inline-flex;
  gap: 8px;
}

.cols {
  position: absolute;
  left: 10px;
  top: 240px;

  display: inline-flex;
  gap: 8px;
}

.suits {
  position: absolute;
  left: 364px;
  top: 10px;

  display: inline-flex;
  gap: 8px;
}

.top_card {
  z-index: 50 !important;
}
