@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --suit-bg-color: #b30000;
  --suit-bg-color: #187318;
  --suit-bg-color: #0d32e1;

  --field-bg-color: #387d38;
}

body {
  margin: 0;
}

.field {
  background: var(--field-bg-color);
  width: 100vw;
  height: 100vh;
}

.card_place > * {
  position: absolute;
  display: inline-block;

  width: 110px;
  height: 170px;

  border-radius: 5px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.45);
  background-color: #00000012;
}

.card {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  left: 10px;
  top: 10px;
  width: 110px;
  height: 170px;
  border: 1px solid black;
  border-radius: 5px;
  user-select: none;
  background-color: white;

  font-family: "Noto Sans JP", sans-serif;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card.close_card {
  border: 1px solid black;
  box-shadow: inset 0px 0px 0px 1px #dcdcdc, inset 0px 0px 0px 4px white;
  background-color: var(--suit-bg-color);
  background-image: url(card_suit_pattern_white.png);
  background-repeat: repeat;
}

.card.close_card > * {
  display: none;
}

.left_top_card_name,
.right_bottom_card_name {
  padding: 8px 4px;

  text-orientation: upright;
  writing-mode: vertical-lr;
}

.left_top_card_name {
  align-self: flex-start;
}

.center_card_name {
  left: 35px;
  top: 55px;
  font-size: 40px;
  text-align: center;
}

.right_bottom_card_name {
  align-self: flex-end;
  transform: rotate(180deg);
}

.deck_close {
  left: 10px;
  top: 10px;
}

.deck_close_suit {
  z-index: 100;

  border: 1px solid black;
  box-shadow: inset 0px 0px 0px 1px #dcdcdc, inset 0px 0px 0px 4px white;

  background-color: var(--suit-bg-color);
  background-image: url(card_suit_pattern_white.png);
  background-repeat: repeat;
}

.deck_open {
  left: 130px;
  top: 10px;
}

.suit_1 {
  left: 370px;
  top: 10px;
}

.suit_2 {
  left: 490px;
  top: 10px;
}

.suit_3 {
  left: 610px;
  top: 10px;
}

.suit_4 {
  left: 730px;
  top: 10px;
}

.col_1 {
  left: 10px;
  top: 240px;
}

.col_2 {
  left: 130px;
  top: 240px;
}

.col_3 {
  left: 250px;
  top: 240px;
}

.col_4 {
  left: 370px;
  top: 240px;
}

.col_5 {
  left: 490px;
  top: 240px;
}

.col_6 {
  left: 610px;
  top: 240px;
}

.col_7 {
  left: 730px;
  top: 240px;
}

.top_card {
  z-index: 50 !important;
}
